fund=false
loglevel=info
progress=true
update-notifier=true
timing=true
fetch-retries=5
fetch-retry-factor=5
fetch-retry-mintimeout=20000
engine-strict=true
use-node-version=23.10.0
auto-install-peers=true
strict-peer-dependencies=true
shamefully-hoist=true 